@model VlsmDBContext.Vlsmresult

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vlsmresult</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetworkId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetworkId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cidr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cidr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubnetMask)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubnetMask)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfHostsPerSubnet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfHostsPerSubnet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfSubnets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfSubnets)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RangeOfUsableIpaddresses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RangeOfUsableIpaddresses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BroadcastId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BroadcastId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
