@model IEnumerable<VlsmDBContext.Vlsmresult>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NetworkId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubnetMask)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfHostsPerSubnet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfSubnets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RangeOfUsableIpaddresses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BroadcastId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NetworkId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubnetMask)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfHostsPerSubnet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfSubnets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RangeOfUsableIpaddresses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BroadcastId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
