
@model VlsmCalculatorMVC.Models.HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>Database content</h1>
<style>
    div {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    label, datalist, list, option {
        width: 8em;
        float: left;
    }
    table {
        background-color: lightblue;
        border-collapse: collapse;
        border: 1px solid gray;
        text-align: center;
    }
        
    th, td {
        padding: 5px;
        border: 1px solid gray;
        text-align: center;
    }
        
    tr:nth-child(even) {
        background-color: lightcoral;
        text-align: center;
    }
        
    tr:first-child {
        background-color: lightgreen;
        text-align: center;
    }
    h1 {
        font-weight: bold;
        color: blue;
        text-align: center;
        text-shadow: 5px 5px 10px red;
    }
</style>

<table>
    <thead>
    <tr>
        <th>id</th>
        <th>Network ID</th>
        <th>CIDR</th>
        <th>Subnet Mask</th>
        <th>Number Of Hosts Per Subnet</th>
        <th>Number Of Subnets</th>
        <th>Range Of Usable IP addresses</th>
        <th>Broadcast ID</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.vlsmresults)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.NetworkId</td>
                <td>@item.Cidr</td>
                <td>@item.SubnetMask</td>
                <td>@item.NumberOfHostsPerSubnet</td>
                <td>@item.NumberOfSubnets</td>
                <td>@item.RangeOfUsableIpaddresses</td>
                <td>@item.BroadcastId</td>
            </tr>
        }
    </tbody>
</table>
